@font-face {
  font-family: Goldoni;
  src: url(./fonts/Goldoni_DEMO.ttf);
}

@font-face {
  font-family: Nebula;
  src: url(./fonts/NebulaStarryDemoRegular.ttf);
}


:root{
  --white: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255, 0.2)
  ;
}

*{
  font-family: Goldoni;
  margin:0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  transition: .2s linear;
  text-transform: capitalize;
}

/* *::selection{
  background:var(--pink);
  color:#fff;
} */


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}



section{
  padding: 0rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border:.2rem solid var(--black);
  color:var(--black);
  font-size: 1.7rem;
  padding:.8rem 3rem;
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--pink);
  border-color: var(--pink);
  color:#fff;
}

.btn:hover{
  background: var(--pink);
  border-color: var(--pink);
  color:#fff;
}

.heading{
  padding-bottom: 2rem;
  text-align: center;
}




.header {
  width: 100%;
  height: 80px;
  display: flex;
}

.header-content {
  height: 100%;
  display: flex;
  font-size: large;
}

.logo{
  height: 100%;
  float: left;
}
.logo h1{
  color: #ffff;
  height: 100%;
  font-size: 45px;
  font-weight: 900;
}

.logo h1:hover{
  color: #b3cccc;
  font-weight: 400;
}


.logo h1 span{
  font-weight: 100;
}

header{
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 10000;
  background:var(--black);
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}







.home{
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(7, 7, 7);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 5;
}

.home .content span{
  font-size: 3rem;
  color: white;
}

.home .content h3{
  font-size: 6rem;
  color: white;
  width:60rem;
}


.favs_image {
  display: flex;
  width: 50%;
  height: 200px;
  object-fit: cover;
  padding: 0.5rem;
  margin: 0.5rem;
  float: left;
  
}


.favs .info p{
  font-size: 1.7rem;
  color:#aaa;
  padding:1rem 0;
  font-style: italic;
  float: right;
}

.favs .row .box-container .box .info p i{
  color:var(--pink);
  padding:0 .5rem;
}

 /* Img container begins */

 .img-container{
 width: 1000px; 
 height: 400px;
 background: transparent;
 margin: 50px auto;
  display: flex;
 }

 .col {
   height: 100%;
   flex: 1;
   color: #fff;
   box-sizing: border-box;
   padding: 25px;
   position: relative;
   transition: 0.6s;

 }

 .col:nth-child(1) {
   background: #4d4d4d;
   ;
 }
 .col:nth-child(2) {
  background:  #737373;
  ;
}
.col:nth-child(3) {
  background:  #999999;
  ;
}
.col:nth-child(4) {
  background: #bfbfbf;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.caption-info {
  max-width: 230px;
  font-size: 12px;
  margin: 28px 0;
  display: none;
}

.caption-info button{
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  padding: 8px 18px;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
}

.col img{
  width: 100%;
  background-size: contain;
  transition: 0.6s;
 
}

.col:hover{
  flex-grow: 2.5;
}

.col:hover .caption-info{
  display: block;
  text-align: right;
}

.col:hover h3{
  text-align: left;

}

 /* Img container ends */

.about-me .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .box-container .box{
  margin:1rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
  background:#fff;
  padding:4.7rem 2rem;
  text-align: center;
  background-size: cover;
  flex:1 1 33rem;
}

.about-me .box-container .box img{
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
  width:8rem;
  padding:1rem;
}

.about-me .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.about-me .box-container .box span{
  font-size: 2rem;
  color:var(--pink);
}

.about-me .box-container .box p{
  font-size: 1rem;
  color:#333;
  padding:1rem 0;
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
}

.about-me .box-container .box .share{
  padding:1rem 0;
}

.about-me .box-container .box .share a{
  height: 4rem;
  width:4rem;
  line-height: 4rem;
  font-size: 2rem;
  color:var(--black);
  background:#eee;
}

.about-me .box-container .box .share a:hover{
  color:rgb(148, 144, 144);
  background: var(--pink);
}


nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #463f3f;
  text-decoration: none;
  /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}
nav ul li a:hover {
  background: #f2f2f2;
  color: #fb5958;
}
nav ul li a:not(:only-child):after {
  padding-left: 16px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: #ffffff;
  font-size: medium;

}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}















/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px){

 .nav-area{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:var(--black);
    padding:1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

 

  .nav-area a{
    display: block;
    background:rgb(201, 22, 22);
    border-radius: .5rem;
    color:var(--black);
    margin:1.5rem;
    padding:1rem 2rem;
    font-size: 2.5rem;
    position: relative;
    top: 100px;
    z-index: 1;
  }

  

  .favs .row{
    flex-flow: column;
  }

  .favs .row .divider{
    display: none;
  }

  .favs .row .box-container:last-child .box{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input{
    width:100%;
  }


.about-me .box-container .box p {
  font-size: 1.5rem;
  color: #333;
  padding: 4rem 0;
  height: 122px;
}

}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

}
